ноунеймы.рф {
	root * /srv/client
	file_server
}

апи.ноунеймы.рф {
	reverse_proxy backend:8000
}

скринкаст.ноунеймы.рф {
	rewrite * /screencast.mp4
	root * /srv/video
	file_server
}

# :80 {
# 	root * /srv
# 	file_server

# 	handle /api/* {
# 		rewrite * /
# 		reverse_proxy backend:8000
# 	}
# }
