xn--e1aijbaf9a6d.xn--p1ai {
	root * /srv/client
	file_server
}

xn--80aqu.xn--e1aijbaf9a6d.xn--p1ai {
	reverse_proxy backend:8000
}

xn--80apfboqfgj.xn--e1aijbaf9a6d.xn--p1ai {
	rewrite * /screencast.mp4
	root * /srv/video
	file_server
}

# :80 {
# 	root * /srv
# 	file_server

# 	handle /api/* {
# 		rewrite * /
# 		reverse_proxy backend:8000
# 	}
# }
